html {
    height: 100%;
    /*    background: url(../images/background.jpg) no-repeat center fixed;*/
    /*    background-size: cover; */
}

body {
    color: black;
    font-family: "Courier New", Courier, monospace;
}

* {
    box-sizing: border-box;
}

button,
div,
form,
input {
    margin: 10px;
}

form {
    display: inline-block;
}

.container {
    position: relative;
    padding: 20px;
    height: auto;
}

.hero {
    margin: 0px;
}

.topic-btn {
    background-color: azure;
    border-radius: 15px;
    font-family: "Courier New", Courier, monospace;
}

#topics-view {
    width: 60%;
    float: left;
}

#topic-form {
    width: 30%;
    float: right;
}

#topic-input {
    margin-right: 0px;
    background-color: bisque;
    border-radius: 15px;
}

#add-topic {
    margin-left: 0px;
    background-color: bisque;
    border-radius: 15px;
}

.gif-block {
    display: inline-block;
}

.rating {
    margin: 0px;
}

